# Everyone Can Learn Python Scholarship by Yugo Saito

## üìñ About me 
I noticed "Everyone Can Learn Python" Scholarship on DataCamp and it was open for everyone. 
I decided to join this wonderful event beucase I wanted to know how much I improve my data sicience skills through using Datacamp so far, but also I thought it was great oppotunity for me to start my first programming competion. 

Since I graduated from an university with non-techinical degree and wants to purse Data science Masters program in the future, I belive I am eligible to be in this competion. 

In advance, thanks for reading my competion and I hope you can share your thoughts and comment so I can learn and become a better data scientist as well as data analyst. 

Let's get started! :)

## 1Ô∏è‚É£ Python üêç - CO2 Emissions challenge! 

## üìñ Background
You volunteer for a public policy advocacy organization in Canada, and your colleague asked you to help her draft recommendations for guidelines on CO2 emissions rules. 

After researching emissions data for a wide range of Canadian vehicles, she would like you to investigate which vehicles produce lower emissions.

## üíæ The data I

### You have access to seven years of CO2 emissions data for Canadian vehicles ([source](https://open.canada.ca/data/en/dataset/98f1a129-f628-4ce4-b24d-6f16bf24dd64#wb-auto-6)):

- "Make" - The company that manufactures the vehicle.
- "Model" - The vehicle's model.
- "Vehicle Class" - Vehicle class by utility, capacity, and weight.
- "Engine Size(L)" - The engine's displacement in liters.
- "Cylinders" - The number of cylinders.
- "Transmission" - The transmission type: A = Automatic, AM = Automatic Manual, AS = Automatic with select shift, AV = Continuously variable, M = Manual, 3 - 10 = the number of gears.
- "Fuel Type" - The fuel type: X = Regular gasoline, Z = Premium gasoline, D = Diesel, E = Ethanol (E85), N = natural gas.
- "Fuel Consumption Comb (L/100 km)" - Combined city/highway (55%/45%) fuel consumption in liters per 100 km (L/100 km).
- "CO2 Emissions(g/km)" - The tailpipe carbon dioxide emissions in grams per kilometer for combined city and highway driving. 

The data comes from the Government of Canada's open data [website](https://open.canada.ca/en).

In [26]:
# Import the pandas and numpy packages
import pandas as pd
import numpy as np

# Load the data
cars = pd.read_csv('data/co2_emissions_canada.csv')

# create numpy arrays
cars_makes = cars['Make'].to_numpy()
cars_models = cars['Model'].to_numpy()
cars_classes = cars['Vehicle Class'].to_numpy()
cars_engine_sizes = cars['Engine Size(L)'].to_numpy()
cars_cylinders = cars['Cylinders'].to_numpy()
cars_transmissions = cars['Transmission'].to_numpy()
cars_fuel_types = cars['Fuel Type'].to_numpy()
cars_fuel_consumption = cars['Fuel Consumption Comb (L/100 km)'].to_numpy()
cars_co2_emissions = cars['CO2 Emissions(g/km)'].to_numpy()

# Preview the dataframe
cars

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption Comb (L/100 km),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,8.5,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,9.6,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,5.9,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,11.1,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,10.6,244
...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,9.4,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,9.9,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4,AS8,Z,10.3,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4,AS8,Z,9.9,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4,AS8,Z,10.7,248

In [24]:
# Look at the first ten items in the CO2 emissions array
cars_co2_emissions[:10]

array([196, 221, 136, 255, 244, 230, 232, 255, 267, 212])

## üí™ Challenge I
Help your colleague gain insights on the type of vehicles that have lower CO2 emissions. Include:

1. What is the median engine size in liters?
2. What is the average fuel consumption for regular gasoline (Fuel Type = X), premium gasoline (Z), ethanol (E), and diesel (D)?  
3. What is the correlation between fuel consumption and CO2 emissions?
4. Which vehicle class has lower average CO2 emissions, 'SUV - SMALL' or 'MID-SIZE'? 
5. What are the average CO2 emissions for all vehicles? For vehicles with an engine size of 2.0 liters or smaller?
6. Any other insights you found during your analysis?

1. What is the median engine size in liters? 

- In order to answer this question, we need to import statistics and math first. And then, use a mean method to get mean from cars_engine_sizes.

In [27]:
# Import all the libraries you need to use.
import statistics
import math

# average engine size(L) for all cars.
median_engine_size = round(statistics.mean(cars_engine_sizes),2)

print("Median engine size is", median_engine_size)

Median engine size is 3.16


2. What is the average fuel consumption for regular gasoline (Fuel Type = X), premium gasoline (Z), ethanol (E), and diesel (D)? 
- In order to answer question number 2, we need to get each elements from cars_fuel_types.

In [28]:
#an average fuel consumption for all cars. 
all_cars_fuel_average = statistics.mean(cars_fuel_consumption)
# Printing average of the list
print ("all cars average fuel consumption")
print(round(all_cars_fuel_average, 2))

#The fuel type: X = Regular gasoline, Z = Premium gasoline, D = Diesel, E = Ethanol (E85), N = natural gas.

#an average Regular gasoline fuel consumption. 
X_cars_fuel_average = cars[cars_fuel_types == 'X']['Fuel Consumption Comb (L/100 km)'].mean()
print ("Regular cars average fuel consumption")
print (round(X_cars_fuel_average, 2))

#an average Premium gasoline fuel consumption. 
Z_cars_fuel_average = cars[cars_fuel_types == 'Z']['Fuel Consumption Comb (L/100 km)'].mean()
print ("Premium gasoline cars average fuel consumption")
print (round(Z_cars_fuel_average, 2))

#an average Diesel gasoline fuel consumption. 
D_cars_fuel_average = cars[cars_fuel_types == 'D']['Fuel Consumption Comb (L/100 km)'].mean()
print ("Diesel cars average fuel consumption")
print (round(D_cars_fuel_average, 2))

#an average Ethanol gasoline fuel consumption. 
E_cars_fuel_average = cars[cars_fuel_types == 'E']['Fuel Consumption Comb (L/100 km)'].mean()
print ("Ethanol cars average fuel consumption")
print (round(E_cars_fuel_average, 2))

#an average natural gas fuel consumption. 
N_cars_fuel_average = cars[cars_fuel_types == 'N']['Fuel Consumption Comb (L/100 km)'].mean()
print ("natural gas cars average fuel consumption")
print (round(N_cars_fuel_average, 2))

all cars average fuel consumption
10.98
Regular cars average fuel consumption
10.08
Premium gasoline cars average fuel consumption
11.42
Diesel cars average fuel consumption
8.84
Ethanol cars average fuel consumption
16.86
natural gas cars average fuel consumption
12.7

After finishing a number 2 question, we can tell that Ethanol cars consume fuel the most. Natural gas-powered cars are on the second place. Cars with premium gasoline are on the third place. Regualr cars are on the fourth place. Diesel cars are the last place which means diseal cars burn less carbon dioxide (CO2) than other cars.

3.What is the correlation between fuel consumption and CO2 emissions? 
- I believe that there is some correlation between fuel consumption and CO2 emissions. When cars produce more fuel, they emit more CO2. 
- In order to know whether or not if these two variables are related to each other, Scatter plot might be a great method to determine.

In [29]:
# Import all the libraries you need to use.
import matplotlib.pyplot as plt

cars_fuel_consumption = cars['Fuel Consumption Comb (L/100 km)'].to_numpy()
cars_co2_emissions = cars['CO2 Emissions(g/km)'].to_numpy()

#visualizing a graph is one of the great way to know two variable's relationships.
plt.scatter(cars_fuel_consumption, cars_co2_emissions)
plt.xlabel("cars_fuel_consumption")
plt.ylabel("cars_co2_emissions")
plt.show()


#identifying the relationship between two variable by using corrcoef function. 
np.corrcoef(cars_fuel_consumption, cars_co2_emissions)

/var/folders/kb/db9h88t10xx2cmj38t12w1j80000gn/T/ipykernel_17807/1190776199.py:11: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

array([[1.        , 0.91805157],
       [0.91805157, 1.        ]])

As I expected, fuel consumption and co2 emissions are strongly related. They have strong postive relashionships.

4. Which vehicle class has lower average CO2 emissions, 'SUV - SMALL' or 'MID-SIZE'?

In [30]:
# Calculate the average CO2 emissions for SUV-SMALL and MID-SIZE cars
suv_small_co2_average = round(cars[cars_classes == 'SUV - SMALL']['CO2 Emissions(g/km)'].mean(), 2)
print("Average SUV-SMALL CO2 emissions:")
print(suv_small_co2_average)

mid_size_co2_average = round(cars[cars_classes == 'MID-SIZE']['CO2 Emissions(g/km)'].mean(), 2)
print("Average MID-SIZE CO2 emissions:")
print(mid_size_co2_average)

Average SUV-SMALL CO2 emissions:
236.29
Average MID-SIZE CO2 emissions:
222.46

5. What are the average CO2 emissions for all vehicles? For vehicles with an engine size of 2.0 liters or smaller?

In [31]:
#an average co2 emission for all vehicles. 
average_co2_emission = cars['CO2 Emissions(g/km)'].mean()
print ("average co2 emission for all vehicles")
print (round(average_co2_emission, 2))

#an average co2 emission for vehicles with an engine size of 2.0 liters or smaller.
average_co2_emission_for_small_cars = cars[cars_engine_sizes < 2]['CO2 Emissions(g/km)'].mean()
print ("average co2 emission for small cars.")
print (round(average_co2_emission_for_small_cars,2))

average co2 emission for all vehicles
250.58
average co2 emission for small cars.
180.92

6. Any other insights you found during your analysis? 
- for the last question, by clicking the emmision column of cars table, I notice that there is a buttom that allows me to see least emmision car and worst emission car. I saw purius was the least emmision car made by Toyota. the worst car was E350 WAGON made by Ford. I would like to compare Toyota and Ford in terms of how likely for them to make eco-friendly cars and non-environment friendly cars.

In [32]:
# Load the data
cars = pd.read_csv('data/co2_emissions_canada.csv')

# Create a new DataFrame with only Toyota cars
toyota_cars = cars[cars['Make'] == 'TOYOTA']

# Find the worst Toyota car based on CO2 emissions
worst_toyota_car = toyota_cars.loc[toyota_cars['CO2 Emissions(g/km)'].idxmax()]

# Print the result
print("The worst Toyota car is:")
print(worst_toyota_car['Make'], worst_toyota_car['Model'], worst_toyota_car['CO2 Emissions(g/km)'])

# Create a new DataFrame with only Ford cars
ford_cars = cars[cars['Make'] == 'FORD']

# Find the worst Ford car based on CO2 emissions
worst_ford_car = ford_cars.loc[ford_cars['CO2 Emissions(g/km)'].idxmax()]

# Print the result
print("The worst Ford car is:")
print(worst_ford_car['Make'], worst_ford_car['Model'], worst_ford_car['CO2 Emissions(g/km)'])

# Plot the relationship between engine size and CO2 emissions for Toyota and Ford cars
plt.scatter(toyota_cars['Engine Size(L)'], toyota_cars['CO2 Emissions(g/km)'], label='Toyota')
plt.scatter(ford_cars['Engine Size(L)'], ford_cars['CO2 Emissions(g/km)'], label='Ford')
plt.xlabel("Engine Size (L)")
plt.ylabel("CO2 Emissions (g/km)")
plt.legend()
plt.show()

The worst Toyota car is:
TOYOTA Sequoia 4WD 385
The worst Ford car is:
FORD E350 WAGON 488

/var/folders/kb/db9h88t10xx2cmj38t12w1j80000gn/T/ipykernel_17807/1394372202.py:30: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

## 2Ô∏è‚É£ SQL - Understanding the bicycle market 

## üìñ Background
You work for a chain of bicycle stores. Your new team leader comes from a different industry and wants your help learning about the bicycle market. Specifically, they need to understand better the brands and categories for sale at your stores.

## üíæ The data II

### You have access to the following tables:

#### products
- "product_id" - Product identifier.
- "product_name" - The name of the bicycle.
- "brand_id" - You can look up the brand's name in the "brands" table.
- "category_id" - You can look up the category's name in the "categories" table.
- "model_year" - The model year of the bicycle.
- "list_price" - The price of the bicycle.

#### brands
- "brand_id" - Matches the identifier in the "products" table.
- "brand_name" - One of the nine brands the store sells.

#### categories
- "category_id" - Matches the identifier in the "products" table.
- "category_name" - One of the seven product categories in the store.

In [33]:
SELECT * 
FROM products;

SyntaxError: invalid syntax (2671165422.py, line 1)

In [34]:
SELECT * 
FROM brands;

SyntaxError: invalid syntax (2565601041.py, line 1)

In [27]:
SELECT * 
FROM categories

   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes
5            6       Mountain Bikes
6            7           Road Bikes

## üí™ Challenge II
Help your team leader understand your company's products. Include:

1. What is the most expensive item your company sells? The least expensive?
2. How many different products of each category does your company sell?
3. What are the top three brands with the highest average list price? The top three categories?
4. Any other insights you found during your analysis?

1. What is the most expensive item your company sells? The least expensive?

In [28]:
SELECT 
	product_name, list_price
FROM 
	products
WHERE 
	list_price = (SELECT MAX(list_price) FROM products)
UNION ALL 
SELECT 
	product_name, list_price
FROM 
	products
WHERE 
	list_price = (SELECT MIN(list_price) FROM products);

                             product_name  list_price
0           Trek Domane SLR 9 Disc - 2018    11999.99
1  Strider Classic 12 Balance Bike - 2018       89.99

By answering first question, we can tell that Trek Domane SLR 9 Disc made by 2018 is the most expensive bike. This bike costs more than 11,000 dollars. the least expensive bike is Strider Classic 12 Balance Bike which made by the same year. It costs less than 100 dollars.

2. How many different products of each category does your company sell?

In [35]:
SELECT 
	c.category_id, category_name, sum(product_id) AS sold_per_category
FROM 
	products AS p
LEFT JOIN 
	categories AS c
ON p.category_id = c.category_id
GROUP BY 
	c.category_id, category_name
ORDER BY 
	sold_per_category DESC;

IndentationError: unexpected indent (3004163690.py, line 2)

By answering this question, we can tell that cruisers sells bikes the most. However, runner up, children bicycles category was very close. Cyclocross bicycles and electric Bikes categories weren't sold very good. Were their categories' prices too high? Let's find out!

## Extra Question! 
- (Do the bottom categories from the previous question charge bikes too much? what is their right price?)

In [30]:
SELECT 
	category_name, sum(product_id) AS sold_per_category, round(avg(list_price),2) as average_category_price
FROM 
	products AS p
LEFT JOIN 
	categories AS c
ON p.category_id = c.category_id
GROUP BY 
	c.category_id, category_name
ORDER BY 
	sold_per_category DESC;

         category_name  sold_per_category  average_category_price
0    Cruisers Bicycles              13356                  730.41
1    Children Bicycles              12174                  287.79
2           Road Bikes               9420                 3175.36
3     Comfort Bicycles               6359                  682.12
4       Mountain Bikes               4750                 1649.76
5       Electric Bikes               4225                 3281.66
6  Cyclocross Bicycles               1397                 2542.79

By answering extra question, I can confirm that this is a well-thought strategy created by the bike companies. Cruisers and children bickclyes are selling very well however, thier prices are very cheap. Therefore, they need to sell a great amount of units. However, electric and cyclocross bicycles are very expensive. Therefore, it's categories do not need to sell as much as the top selling catogories. Road bike category is the most intersting one out of all! because it's category sold a 
relatively well and also, it's avearge category isn't too cheap! So, we can conclude that road bikes might possibly brings huge profits to bike companies.

3. What are the top three brands with the highest average list price? The top three categories?

In [31]:
SELECT 
	b.brand_id, b.brand_name, round(avg(list_price),2) AS average_list_price
FROM 
	products AS p
LEFT JOIN 
	brands AS b
ON p.brand_id = b.brand_id
GROUP BY 
	b.brand_id, b.brand_name
ORDER BY 
	average_list_price DESC;

   brand_id    brand_name  average_list_price
0         9          Trek             2500.06
1         3        Heller             2173.00
2         8         Surly             1331.75
3         1       Electra              761.01
4         5       Ritchey              749.99
5         2          Haro              621.99
6         7  Sun Bicycles              524.47
7         4   Pure Cycles              442.33
8         6       Strider              209.99

Brand Trek is the highest average list price. Heller is the second place and so on. Does average list price change depending on the year? Let's get the answer!

4. Any other insights you found during your analysis? 
- I would love to find out the most expensive bikes per year and by brand_name.

In [32]:
SELECT 
	brand_name, model_year, round(max(list_price),2) AS most_expensive_by_brand_and_year
FROM 
	products AS p
LEFT JOIN 
	brands AS b
ON p.brand_id = b.brand_id
GROUP BY 
	brand_name, model_year
ORDER BY 
	most_expensive_by_brand_and_year DESC;

      brand_name  model_year  most_expensive_by_brand_and_year
0           Trek        2018                          11999.99
1           Trek        2017                           6499.99
2           Trek        2016                           3999.99
3           Trek        2019                           3799.99
4        Electra        2018                           2999.99
5         Heller        2018                           2599.00
6          Surly        2017                           2499.99
7          Surly        2018                           2499.99
8          Surly        2016                           1680.99
9   Sun Bicycles        2017                           1559.99
10          Haro        2017                           1469.99
11        Heller        2016                           1320.99
12       Electra        2017                           1099.99
13       Ritchey        2016                            749.99
14       Electra        2016                            599.99
15   Pure Cycles        2016                            449.00
16       Strider        2018                            289.99

It was very interesting to find out becuase Trek bikes tend to be the most expensive bikes regardless of the year. On the other hand, Electra was expensive in 2018 but their average price was half in 2017! The average Electra bike price varies depending which year you buy your bike. So, make sure to bike your bike right time!

## Conclution & Thoughts 
- By completing python and SQL questions, I was able to sharpen my skills. I mostly learned everything about python and SQL from Datacamp webstie. Some of the times, it was hard for me due to the language barriers. My first language is Japnaese. Even considering the disvantage of langauage barriers, I decided to use Datacamp beucase I belive it is one of the greatest places to learn coding. I know I need to learn more and I hope to go to prestigious post-graduate school in the U.S. 

## Expand a Research and Future Study 
- I wasn't able to do it but it might be cool to compare electric cars and gas cars. Do electric cars actually help enviroment due to the use of elecrocity? Or are we tricked by the advertisement we see on TV telling us that electric cars such as Tesla are great cars for the earth. If electric cars do help the enviroment, I would like to know the countries that owns the electronic cars the most. the country might be the most eco-frienly country in the world. 
- I think data is great and fun because it tells the fact subjectively and thanks for reading till the end. I hope we all can be a successful data scientist/ data analyst in the future. Best luck to all of us! :)